.navbar {
  background: var(--black);
  height: 60px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar_logo {
  color: var(--white);
  text-decoration: none;
  display: flex;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.navbar_link {
  color: var(--white);
  text-decoration: none;

  padding: 0rem 1rem;
}
.navbar_link:hover {
  color: var(--red);
}
.navbar_link:active {
  color: var(--red);
}
